<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>MorkBorg Character Manager</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
</head>

<body style="background-color:#FFEB3B; color:#FFEB3B; margin-left: 50px; margin-right: 50px; min-width:800px;">
    <div class="w3-top">
        <div class="w3-bar w3-left-align w3-yellow">
            <nav>
                <a class="w3-bar-item w3-button w3-padding-large w3-hover-pink" href="/login">Home</a>
            </nav>
        </div>
    </div>

    <div class="w3-container w3-black w3-center" style="margin-top:46px;min-height: 100vh;">
        <section id="content">

        </section>
    </div>
</body>
<script src="/assets/notFoundBundle.js"></script>
</body>

</html>